/*=======================START-MEDIA=====================*/
/*=======================END-MEDIA=====================*/
/*--------- font-face ---------*/
@font-face {
  font-family: San Francisco UI;
  font-display: swap;
  src: url("../fonts/SFUIDisplay/SFUIDisplayBold.woff") format("woff"), url("../fonts/SFUIDisplay/SFUIDisplayBold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: San Francisco UI;
  font-display: swap;
  src: url("../fonts/SFUIDisplay/SFUIDisplaySemibold.woff") format("woff"), url("../fonts/SFUIDisplay/SFUIDisplaySemibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: San Francisco UI;
  font-display: swap;
  src: url("../fonts/SFUIDisplay/SFUIDisplayRegular.woff") format("woff"), url("../fonts/SFUIDisplay/SFUIDisplayRegular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-text-decoration-skip: objects;
          text-decoration-skip: objects;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  min-width: 320px;
  overflow-x: hidden;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  min-height: 100%;
}

html, body {
  height: 100%;
}

audio,
video {
  display: block;
}

section {
  max-width: 100%;
}

a {
  text-decoration: none;
}

a:focus {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a img {
  border: none;
}

ul, ol {
  margin: 0;
  padding: 0;
}

ul, li {
  list-style-type: none;
}

img {
  max-width: 100%;
  display: block;
  border-style: none;
}

input,
textarea,
select {
  vertical-align: middle;
}

form, fieldset {
  margin: 0;
  padding: 0;
  border-style: none;
  width: 100%;
}

input[type="search"],
input[type="text"],
input[type="file"],
input[type="password"],
input[type="submit"],
input[type="email"],
input[type="tel"],
textarea, select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  resize: none;
  outline: none;
}

input[type="email"] {
  box-shadow: none;
  -webkit-box-shadow: none;
}

input[type="image"] {
  padding: 0;
  border: none;
}

input[type="submit"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input[type="submit"],
input[type="button"] {
  cursor: pointer;
}

input[type="submit"]:focus,
input[type="button"]:focus {
  outline: none;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button,
input[type=email]::-webkit-inner-spin-button,
input[type=email]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

button:focus {
  outline: none;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

p, span, label, h1, h2, h3, h4, h5, h6, b, strong, i, em {
  max-width: 100%;
  word-wrap: break-word;
  white-space: normal;
  margin: 0;
}

div {
  word-wrap: break-word;
  white-space: normal;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

iframe {
  border: none;
}

input::-ms-clear {
  display: none;
}

body {
  font-family: 'San Francisco UI', sans-serif;
  font-size: 16px;
  background: #101010;
  color: #fff;
}

p {
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.8);
}

.smaller {
  font-size: 15px;
  line-height: 1.33;
}

.small {
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.833333px;
  text-transform: capitalize;
  color: rgba(255, 255, 255, 0.6);
}

.link {
  font-size: 11px;
  line-height: 1.18;
  font-weight: 600;
  letter-spacing: 1.3px;
  color: #E5E5E5;
  text-transform: uppercase;
  position: relative;
}

.link:before {
  content: '';
  position: absolute;
  bottom: -3px;
  width: 0px;
  height: 1px;
  background: #23C3B2;
  -webkit-transition: inherit;
  -o-transition: inherit;
  transition: inherit;
}

@media (any-hover: hover) {
  .link {
    -webkit-transition-duration: 0.3s;
         -o-transition-duration: 0.3s;
            transition-duration: 0.3s;
    -webkit-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
  }
  .link:hover:before {
    width: 100%;
  }
}

.container {
  max-width: 375px;
  width: 100%;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: auto;
  margin-right: auto;
}

blockquote {
  border-left: 8px solid #121314;
  background-color: #F3F4FF;
  padding: 16px 24px 16px 22px;
  margin: 0 0 24px;
}

*:focus {
  outline: none !important;
}

h1, h2, h3, h4, h4, h6, .h1-title, .h2-title, .h3-title, .h4-title, .h5-title, .h6-title {
  display: block;
  font-weight: bold;
}

h1, .h1-title {
  font-size: 30px;
  line-height: 1.2;
  margin-bottom: 10px;
}

h2, .h2-title {
  font-size: 24px;
  line-height: 1.2;
  margin-bottom: 15px;
}

.h3-title,
h3 {
  font-size: 20px;
  line-height: 1.2;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hidden {
  display: none;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

section .container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@supports ((-moz-column-gap: 20px) or (column-gap: 20px)) {
  .row {
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
  }
}

@supports not ((-moz-column-gap: 20px) or (column-gap: 20px)) {
  .row {
    margin-right: calc( 0px - (20px / 2));
    margin-left: calc( 0px - (20px / 2));
  }
  .row > * {
    margin-right: calc(20px / 2);
    margin-left: calc(20px / 2);
  }
}

@supports (row-gap: 40px) {
  .row {
    row-gap: 40px;
  }
}

@supports not (row-gap: 40px) {
  .row {
    margin-bottom: -40px;
  }
  .row > * {
    margin-bottom: 40px;
  }
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  color: currentColor;
  line-height: 1em;
}

@font-face {
  font-family: "Icons";
  src: url("../fonts/Icons.eot");
  src: url("../fonts/Icons.eot?#iefix") format("eot"), url("../fonts/Icons.woff") format("woff"), url("../fonts/Icons.ttf") format("truetype"), url("../fonts/Icons.svg#Icons") format("svg");
}

.icon-bookmark:before,
.icon-heart:before {
  font-family: "Icons";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
}

.icon-bookmark:before {
  content: '\E001';
}


.icon-heart:before {
  content: '\E002';
}

.header {
  padding: 15px 0px;
  position: absolute;
  width: 100%;
  z-index: 3;
}

.header .container {
  padding-left: 15px;
  padding-right: 15px;
}

.burger {
  width: 16px;
  height: 12px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.burger:before, .burger:after {
  content: '';
  position: absolute;
  left: 0px;
}

.burger:before {
  top: 0px;
}

.burger:after {
  bottom: 0px;
}

.burger:before, .burger:after,
.burger span {
  width: 100%;
  height: 1px;
  background: #fff;
  border-radius: 2px;
}

.btn {
  font-family: inherit;
  display: inline-block;
  width: 200px;
  padding: 10px;
  min-height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
  border: 2px solid #23C3B2;
  background: #23C3B2;
  color: #fff;
}

@media (any-hover: hover) {
  .btn {
    -webkit-transition-duration: 0.3s;
         -o-transition-duration: 0.3s;
            transition-duration: 0.3s;
    -webkit-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
  }
  .btn:hover {
    color: #23C3B2;
    background-color: rgba(255, 255, 255, 0);
  }
}

.main-section .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(16, 16, 16, 0.5)), to(rgba(16, 16, 16, 0.5))), url("../images/background.jpg");
  background: -o-linear-gradient(rgba(16, 16, 16, 0.5), rgba(16, 16, 16, 0.5)), url("../images/background.jpg");
  background: linear-gradient(rgba(16, 16, 16, 0.5), rgba(16, 16, 16, 0.5)), url("../images/background.jpg");
  background: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.main-section__inner {
  max-width: 300px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 25px;
}

.main-section__btn {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 18px;
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (any-hover: hover) {
  .main-section__btn {
    -webkit-transition-duration: 0.3s;
         -o-transition-duration: 0.3s;
            transition-duration: 0.3s;
    -webkit-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
  }
  .main-section__btn:hover svg {
    fill: #fff;
  }
}

.main-section__btn svg {
  fill: rgba(255, 255, 255, 0.8);
  -webkit-transition: inherit;
  -o-transition: inherit;
  transition: inherit;
}

.watch-movie__inner {
  padding-top: 80px;
}

.watch-movie__top {
  max-width: 286px;
  width: 100%;
  margin-left: 25px;
}

.watch-movie__top .h2-title,
.watch-movie__top p {
  max-width: 240px;
}

.watch-movie__bottom {
  margin-left: auto;
  margin-right: auto;
}

.smartphone {
  position: relative;
  max-width: 300px;
  width: 100%;
  max-height: 447px;
  margin-top: 10px;
}

.smartphone:before {
  content: '';
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(#000000));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #000000 100%);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
}

.smartphone:after {
  content: '';
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  top: -10px;
  width: calc(100% + 15px);
  height: calc(100% + 10px);
  background: url("../images/phone.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 1;
}

.smartphone img {
  position: relative;
  max-width: 100%;
  margin: auto;
  margin: auto;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 255px;
  width: 100%;
  border-radius: 40px 40px 0px 0px;
}

.inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.payment .container {
  padding-top: 36px;
  padding-bottom: 70px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(16, 16, 16, 0.3)), to(rgba(16, 16, 16, 0.9))), url("../images/moves-background.png");
  background: -o-linear-gradient(rgba(16, 16, 16, 0.3), rgba(16, 16, 16, 0.9)), url("../images/moves-background.png");
  background: linear-gradient(rgba(16, 16, 16, 0.3), rgba(16, 16, 16, 0.9)), url("../images/moves-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-box-shadow: inset 0px 0px 0px 8px #23C3B2;
          box-shadow: inset 0px 0px 0px 8px #23C3B2;
}

.payment__inner {
  width: 100%;
  padding-right: 20px;
  padding-left: 25px;
}

.payment__top p:not(:last-child) {
  margin-top: 2px;
}

.payment__heading {
  margin-bottom: 40px;
}

.payment__heading .h1-title {
  font-size: 36px;
  line-height: 1.17;
}

.payment__heading .h1-title:not(:last-child) {
  margin-bottom: 10px;
}

.payment__bottom .h2-title {
  letter-spacing: 1px;
}

.payment__bottom .h2-title:not(:last-child) {
  margin-bottom: 16px;
}

.payment__bottom .btn:not(:last-child) {
  margin-bottom: 10px;
}

.payment__description {
  max-width: 157px;
}

.payment__description:not(:last-child) {
  margin-bottom: 20px;
}

.payment__description .small:not(:last-child) {
  margin-bottom: 10px;
}

.gift__inner {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: calc(100% + (10px * 2));
  margin-left: -10px;
}

.gift__top {
  margin-bottom: 10px;
  margin-left: 25px;
  max-width: 309px;
}

.gift__bottom {
  position: relative;
}

.gift__bottom img {
  max-width: 100%;
  width: 100%;
}

.gift__bottom:after {
  content: '';
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 251px;
  background: -o-linear-gradient(270.21deg, rgba(16, 16, 16, 0) 37.5%, #101010 90.39%);
  background: linear-gradient(179.79deg, rgba(16, 16, 16, 0) 37.5%, #101010 90.39%);
}

.special-offer__wrapper {
  padding-left: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.special-offer__inner {
  margin-top: -20px;
}

.special-offer .h2-title {
  margin-bottom: 30px;
  max-width: 315px;
  margin-right: -15px;
}

.special-offer .row {
  padding-right: 10px;
}

.special-offer .row:not(:last-child) {
  margin-bottom: 52px;
}

.special-offer__item {
  max-width: 130px;
  width: 100%;
}

.special-offer__item .smaller {
  color: #fff;
}
