.main-section {
  .container {
    display: flex;
    background: linear-gradient(rgba($dark, 0.5), rgba($dark, 0.5)), url("../images/background.jpg");
    background: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  &__inner {
    max-width: 300px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: $margin-content;
  }
  &__btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 18px;
    @include size(20px);
    display: flex;
    align-items: center;
    justify-content: center;
    @include hover {
      svg {
        fill: $primary;
      }
    }
    svg {
      fill: rgba($primary, 0.8);
      transition: inherit;
    }
  }
}

.watch-movie {
  &__inner {
    padding-top: 80px;
  }
  &__top {
    max-width: 286px;
    width: 100%;
    margin-left: $margin-content;
    .h2-title,
    p {
      max-width: 240px;
    }
  }
  &__bottom {
    margin-left: auto;
    margin-right: auto;
  }
}

.smartphone {
  position: relative;
  max-width: 300px;
  width: 100%;
  max-height: 447px;
  margin-top: 10px;
  &:before {
    content: '';
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
  }
  &:after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -10px;
    width: calc(100% + 15px);
    height: calc(100% + 10px);
    background: url("../images/phone.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 1;
  }
  img {
    position: relative;
    max-width: 100%;
    margin: auto;
    margin: auto;
    object-fit: cover;
    max-width: 255px;
    width: 100%;
    border-radius: 40px 40px 0px 0px;
  }
}

.inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.payment {
  .container {
    padding-top: 36px;
    padding-bottom: 70px;
    background: linear-gradient(rgba($dark, 0.3), rgba($dark, 0.9)), url("../images/moves-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: inset 0px 0px 0px 8px $second;
  }
  &__inner {
    width: 100%;
    padding-right: 20px;
    padding-left: $margin-content;
  }
  &__top {
    p {
      &:not(:last-child) {
        margin-top: 2px;
      }
    }
  }
  &__heading {
    margin-bottom: 40px;
    .h1-title {
      font-size: 36px;
      line-height: 1.17;
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }
  &__bottom {
    .h2-title {
      letter-spacing: 1px;
      &:not(:last-child) {
        margin-bottom: 16px;
      }
    }
    .btn {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }
  &__description {
    max-width: 157px;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
    .small {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }
}

.gift {
  &__inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    $margin: 10px;
    width: calc(100% + (#{$margin} * 2));
    margin-left: -$margin;
  }
  &__top {
    margin-bottom: 10px;
    margin-left: $margin-content;
    max-width: 309px;
  }
  &__bottom {
    img {
      max-width: 100%;
      width: 100%;
    }
    position: relative;
    &:after {
      content: '';
      position: absolute;
      bottom: 0px;
      width: 100%;
      height: 251px;
      background: linear-gradient(179.79deg, rgba(16, 16, 16, 0) 37.5%, $dark 90.39%);
    }
  }
}

.special-offer {
  &__wrapper {
    padding-left: $margin-content;
    display: flex;
    align-items: center;
    height: 100%;
  }
  &__inner {
    margin-top: -20px;
  }
  .h2-title {
    margin-bottom: 30px;
    max-width: 315px;
    margin-right: -15px;
  }
  .row {
    padding-right: 10px;
    &:not(:last-child) {
      margin-bottom: 52px;
    }
  }
  &__item {
    max-width: 130px;
    width: 100%;
    .smaller {
      color: $primary;
    }
  }
}