.header {
  padding: 15px 0px;
  position: absolute;
  width: 100%;
  z-index: 3;
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.burger {
  @include size(16px, 12px);
  position: relative;
  display: flex;
  align-items: center;
  &:before,
  &:after {
    content: '';
    position: absolute;
    left: 0px;
  }
  &:before {
    top: 0px;
  }
  &:after {
    bottom: 0px;
  }
  &:before,
  &:after,
  span {
    width: 100%;
    height: 1px;
    background: $primary;
    border-radius: 2px;
  }
}