body {
  font-family: 'San Francisco UI', sans-serif;
  font-size: 16px;
  background: $dark;
  color: $primary;
}

p {
  line-height: 1.25;
  color: rgba($primary, 0.8);
}

.smaller {
  font-size: 15px;
  line-height: 1.33;
}

.small {
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.833333px;
  text-transform: capitalize;
  color: rgba($primary, 0.6);
}

.link {
  font-size: 11px;
  line-height: 1.18;
  font-weight: 600;
  letter-spacing: 1.3px;
  color: $primary-light;
  text-transform: uppercase;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    bottom: -3px;
    width: 0px;
    height: 1px;
    background: $second;
    transition: inherit;
  }
  @include hover {
    &:before {
      width: 100%;
    }
  }
}

.container {
  max-width: 375px;
  width: 100%;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: auto;
  margin-right: auto;
}

blockquote {
  border-left: 8px solid #121314;
  background-color: #F3F4FF;
  padding: 16px 24px 16px 22px;
  margin: 0 0 24px;
}

*:focus {
  outline: none !important;
}

h1, h2, h3, h4, h4, h6, .h1-title, .h2-title, .h3-title, .h4-title, .h5-title, .h6-title {
  display: block;
  font-weight: bold;
}

h1, .h1-title {
  font-size: 30px;
  line-height: 1.2;
  margin-bottom: 10px;
}

h2, .h2-title {
  font-size: 24px;
  line-height: 1.2;
  margin-bottom: 15px;
}

.h3-title,
h3 {
  font-size: 20px;
  line-height: 1.2;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

.main {
  flex: 1 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.hidden {
  display: none;
}

section {
  display: flex;
  flex-direction: column;
  width: 100%;
  .container {
    flex: 1;
  }
}

.row {
  display: flex;
  @include gap(column, 20px);
  @include gap(row, 40px);
  flex-wrap: wrap;
}